*body{
    background-color:chocolate;
    color: cornsilk;
}

section p:nth-child(2){
    color: darkmagenta;
    font-size: 20px;
    font-weight:bold;
}

.fondo-nav{
    background-color: #e3f2fd;
}

.shadow{
    background-color: #7DC2C1;
    border-radius: 10px;
    width: 90%;
}

.estilo{
    width: 150px;
    height: 45px;
    margin: auto;
}


footer{
    color:cyan;
}