*body{
    background-color:chocolate;
    color: cornsilk;
}

section p:nth-child(2){
    color: darkmagenta;
    font-size: 20px;
    font-weight:bold;
}

.fondo-nav{
    background-color: #e3f2fd;
}

.shadow{
    width: 90%;
    -webkit-box-shadow: 10px 17px 9px 4px rgba(0,0,0,0.37);
    -moz-box-shadow: 10px 17px 9px 4px rgba(0,0,0,0.37);
    box-shadow: 10px 17px 9px 4px rgba(0,0,0,0.37);
}




footer{
    color:cyan;
}