.container{
    background-color: white;
}

.estructura{
    background-color:darkgrey;
    padding-right: 1px;
    padding-left: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ancho{
    width:100%;
}

.ancho1{
    width:50%;
}

.text{
    color: black;
}

section p:nth-child(2){
    color: darkmagenta;
    font-size: 20px;
    font-weight:bold;
}

.fondo-nav{
    background-color: #e3f2fd;
}

.shadow{
    background-color: #7DC2C1;
    border-radius: 10px;
    width: 90%;
}

.estilo{
    width: auto;
    height: 50px;
    border-radius: 8px;
    margin: 0 24px;

}


footer{
    color:cyan;
}